.status-message {
  border: 1px solid #c00;
  background: #fac7c7;
  padding: 10px;
  font-style: italic;
}

.outer-wrapper {
  display: none;
  width: 100%;
  min-height: 900px;
  position: relative;
  border: 1px solid #c8c7cf;
}
.outer-wrapper h2, .outer-wrapper p {
  padding: 10px 10px 0 10px;
  margin: 0;
}
.outer-wrapper h3 {
  padding: 0px;
  margin: 0px 20px;
}
@media (min-width: 630px) {
  .outer-wrapper .choose-network {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
.outer-wrapper ul {
  overflow: visible;
  padding-left: 10px;
}
.outer-wrapper ul li {
  list-style: none;
  padding: 2px 0px;
}
.outer-wrapper ol {
  padding-left: 40px;
}
.outer-wrapper ol li {
  list-style-type: decimal;
}
.outer-wrapper input[type="radio"] {
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  margin-right: 15px;
  position: relative;
  width: 20px;
  -webkit-appearance: none;
}
.outer-wrapper input[type="radio"]:after {
  content: "\2713";
  font-size: 1em;
  display: inline-block;
  left: 0.25em;
  position: relative;
  top: 0.1em;
}
.outer-wrapper li:nth-of-type(1) input[type="radio"] {
  background-color: #3CBAC8;
}
.outer-wrapper li:nth-of-type(1) input[type="radio"]:after {
  color: #3CBAC8;
}
.outer-wrapper li:nth-of-type(1) input[type="radio"]:checked:after {
  color: white;
}
.outer-wrapper li:nth-of-type(2) input[type="radio"] {
  background-color: #B9B2D8;
}
.outer-wrapper li:nth-of-type(2) input[type="radio"]:after {
  color: #B9B2D8;
}
.outer-wrapper li:nth-of-type(2) input[type="radio"]:checked:after {
  color: white;
}
.outer-wrapper li:nth-of-type(3) input[type="radio"] {
  background-color: #F68628;
}
.outer-wrapper li:nth-of-type(3) input[type="radio"]:after {
  color: #F68628;
}
.outer-wrapper li:nth-of-type(3) input[type="radio"]:checked:after {
  color: white;
}
.outer-wrapper li:nth-of-type(4) input[type="radio"] {
  background-color: #B9D98B;
}
.outer-wrapper li:nth-of-type(4) input[type="radio"]:after {
  color: #B9D98B;
}
.outer-wrapper li:nth-of-type(4) input[type="radio"]:checked:after {
  color: white;
}
.outer-wrapper li:nth-of-type(5) input[type="radio"] {
  background-color: #F69890;
}
.outer-wrapper li:nth-of-type(5) input[type="radio"]:after {
  color: #F69890;
}
.outer-wrapper li:nth-of-type(5) input[type="radio"]:checked:after {
  color: white;
}
.outer-wrapper li:nth-of-type(6) input[type="radio"] {
  background-color: #F2653F;
}
.outer-wrapper li:nth-of-type(6) input[type="radio"]:after {
  color: #F2653F;
}
.outer-wrapper li:nth-of-type(6) input[type="radio"]:checked:after {
  color: white;
}
.outer-wrapper svg text {
  font-size: 0.8em;
  fill: #444;
}
.outer-wrapper .network-comments {
  margin: 0px 20px 20px;
}
.outer-wrapper .comment {
  font-style: italic;
}
.outer-wrapper .bio {
  text-transform: uppercase;
  font-weight: bold;
  color: #999;
}
